@use "./mixins.scss";

$white-color: white;

%flex-center-display {
    display: flex;
    align-items: center;
}

%absolute-position-cursor-none {
    position: absolute;
    cursor: none;
}

.top-bar {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 3px 3px 47px 3px;
    position: relative;

    .camera {
        @extend %absolute-position-cursor-none;
        display: flex;
        align-self: center;
        width: 15px;
        height: 15px;
        background-color: #494949;
        border-radius: 50%;
        border: 4px solid black;
        left: 47%;
        top: 5%;
    }
    .time {
        @extend %absolute-position-cursor-none;
        order: 1;
        left: 3%;
        top: 3%;
        height: 22px;
        width: 28px;

        @include mixins.sm {
            font-size: 17px;
            left: 4%;
            top: 0;
        }
    }
}

.button-bar {
    @extend %flex-center-display;
    height: 76px;
    justify-content: center;

    .home-button {
        position: fixed;
        z-index: 10000;
        margin-top: 30px;
        margin-bottom: 50px;
        border: 2px solid $white-color;
        color: $white-color;
        padding: 10px;
        border-radius: 10px;
        width: 15px;
        height: 15px;
        // animation: pulse 1s ease-in-out;

        // @keyframes pulse {
        //     0% {
        //         transform: scale(1);
        //     }
        //     50% {
        //         transform: scale(1.2);
        //     }
        //     100% {
        //         transform: scale(1);
        //     }
        // }
        //         const pulseButton = document.querySelector('.pulse-button');

        // pulseButton.addEventListener('click', () => {
        //   pulseButton.classList.add('pulse');
        //   setTimeout(() => pulseButton.classList.remove('pulse'), 1000);
        // });

        @include mixins.sm {
            margin-top: 43px;
            margin-bottom: 15px;
            width: 22px;
            height: 22px;
            border-width: 3px;
        }

        &--black-border {
            border-color: black;
        }
    }
}

.screen {
    height: 72vh;
    display: grid;
    margin-left: 10px;
    margin-right: 10px;

    .upper-screen {
        @extend %flex-center-display;
        justify-content: flex-start;
        height: 86px;
        width: 100%;
        cursor: none;
        filter: blur(0) !important;

        @include mixins.sm {
            height: 100px;
            align-items: center;
        }
        &__weather {
            height: 116px;
            width: 116px;

            @include mixins.sm {
                height: 131px;
                width: 131px;
            }
        }
        &__degrees {
            font-size: 40px;
            color: $white-color;

            @include mixins.sm {
                font-size: 45px;
            }
        }
    }

    .mid-screen {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;

        @include mixins.sm {
            margin-top: 20px;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }
    }
    .lower-screen {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        @include mixins.sm {
            align-items: flex-end;
        }
    }
}
