@use "./mixins.scss";

@import url("https://fonts.cdnfonts.com/css/samsungone");

@import "./icons.scss";
@import "./screen.scss";
@import "./module.scss";
@import "./menu.scss";

body {
    margin: 0;
    font-family: "SamsungOne", sans-serif;
}

.phone-container {
    width: 100%;
    height: 100vh;
    border-radius: 20px;
    position: fixed;

    .phone-frame {
        width: 90%;
        height: 95%;
        border-width: 20px;
        border-style: solid;
        border-color: #000;
        border-radius: 20px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-image: url("./../images/background-photo.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        &--white-background {
            background-image: none !important;
            background-color: white;
        }
    }
}
